@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
  padding:20px;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inconsolata', monospace;
}

#body{
  font-family: 'Inconsolata', monospace;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

.searchbar {
  color: white;
}

input {
  border: none; /* Removes the default border */
  color: white;
  -webkit-appearance: none;
  background: #111;
}

input:focus {
  outline: none; /* Removes the border when the input is clicked */
  -webkit-appearance: none;
}
